In [6]:
# Import necessary libraries
import pandas as pd

In [7]:
data = pd.read_csv("data/maos.csv")
data.head()

   message_id  reply_to   sender message_type
0        2015      2014  Roozbeh         text
1        2016         0  Roozbeh         text
2        2017      2012  Roozbeh         text
3        2018         0  Roozbeh      sticker
4        2019         0     Neda        voice

In [8]:
data[["sender", "message_type"]].describe()

       sender message_type
count   17152        17152
unique      5           10
top      Amir         text
freq     5091        11815

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 4 columns):
message_id      17152 non-null int64
reply_to        17152 non-null int64
sender          17152 non-null object
message_type    17152 non-null object
dtypes: int64(2), object(2)
memory usage: 536.1+ KB

In [10]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)

In [11]:
pd.unique(data[["message_type"]].values.ravel("K"))

array(['text', 'sticker', 'voice', 'audio', 'video file', 'photo',
       'animation', 'file', 'video message', 'contact'], dtype=object)