In [18]:
# Import necessary libraries
import pandas as pd

In [19]:
data = pd.read_csv("data/maos.csv")
data.head()

   message_id  reply_to   sender
0        2015      2014  Roozbeh
1        2016         0  Roozbeh
2        2017      2012  Roozbeh
3        2018         0  Roozbeh
4        2019         0     Neda

In [20]:
data[["sender"]].describe()

       sender
count   17152
unique      5
top      Amir
freq     5091

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 3 columns):
message_id    17152 non-null int64
reply_to      17152 non-null int64
sender        17152 non-null object
dtypes: int64(2), object(1)
memory usage: 402.1+ KB

In [22]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)