In [10]:
# Import necessary libraries
import pandas as pd

In [11]:
data = pd.read_csv("data/maos.csv")
data.head()

   message_id  reply_to   sender message_type  message_date
0        2015      2014  Roozbeh         text    1556223065
1        2016         0  Roozbeh         text    1556223073
2        2017      2012  Roozbeh         text    1556223080
3        2018         0  Roozbeh      sticker    1556223106
4        2019         0     Neda        voice    1556223132

In [12]:
data[["sender", "message_type"]].describe()

       sender message_type
count   17152        17152
unique      5           10
top      Amir         text
freq     5091        11815

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 5 columns):
message_id      17152 non-null int64
reply_to        17152 non-null int64
sender          17152 non-null object
message_type    17152 non-null object
message_date    17152 non-null int64
dtypes: int64(3), object(2)
memory usage: 670.1+ KB

In [29]:
data["message_date"].value_counts()

1577179208    22
1574293002    21
1577116618    20
1574455563    14
1573648843    13
              ..
1565158647     1
1556833526     1
1566508760     1
1556370672     1
1566200413     1
Name: message_date, Length: 16442, dtype: int64

In [14]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)

In [15]:
pd.unique(data[["message_type"]].values.ravel("K"))

array(['text', 'sticker', 'voice', 'audio', 'video file', 'photo',
       'animation', 'file', 'video message', 'contact'], dtype=object)

In [16]:
data["message_type"].value_counts()

text             11815
sticker           3416
animation          565
voice              480
audio              377
photo              345
video file         105
file                39
video message        8
contact              2
Name: message_type, dtype: int64

In [17]:
data.loc[data["message_type"] == "text"]["sender"].value_counts()

Roozbeh    3299
Amir       3121
Neda       2164
Barsin     1704
Pouya      1527
Name: sender, dtype: int64