In [1]:
# Import necessary libraries
import pandas as pd

In [2]:
data = pd.read_csv("data/maos.csv")
data.head()

,message_id,reply_to_id,sender,reply_to_sender,message_type,message_date,is_forwarded,forwarded_from,text,caption,media_size,photo_resolution,media_duration,sticker_emoji
0,2015,2014,Roozbeh,Neda,text,1556223065,0,NaN,ŸÜŸá ÿ®ÿßÿ®ÿßÿßÿß,NaN,NaN,NaN,0,NaN
1,2016,0,Roozbeh,NaN,text,1556223073,0,NaN,ÿÆ€å€åŸÑ€å ÿÆŸàÿ®Ÿá,NaN,NaN,NaN,0,NaN
2,2017,2012,Roozbeh,Neda,text,1556223080,0,NaN,If it was easier to shatter everything that ev...,NaN,NaN,NaN,0,NaN
3,2018,0,Roozbeh,NaN,sticker,1556223106,0,NaN,NaN,NaN,29.9,NaN,0,ü§ò
4,2019,0,Neda,NaN,voice,1556223132,0,NaN,NaN,NaN,7.3,NaN,3,NaN

In [3]:
data[["sender", "message_type", "forwarded_from", "text", "caption", "photo_resolution", "sticker_emoji"]].describe()

,sender,message_type,forwarded_from,text,caption,photo_resolution,sticker_emoji
count,17152,17152,545,11524,213,345,3416
unique,5,10,138,8950,130,284,214
top,Amir,text,Amir,üòÇüòÇ,üéß ÿ¢ŸáŸÜ⁄Ø€åŸÅÿß€å: ÿ¨ÿ≥ÿ™ÿ¨Ÿà€å ŸÖŸàÿ≤€å⁄©,640x640,üòÇ
freq,5091,11815,81,424,55,7,530

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 14 columns):
message_id          17152 non-null int64
reply_to_id         17152 non-null int64
sender              17152 non-null object
reply_to_sender     7981 non-null object
message_type        17152 non-null object
message_date        17152 non-null int64
is_forwarded        17152 non-null int64
forwarded_from      545 non-null object
text                11524 non-null object
caption             213 non-null object
media_size          5335 non-null float64
photo_resolution    345 non-null object
media_duration      17152 non-null int64
sticker_emoji       3416 non-null object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.8+ MB

In [5]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)

In [6]:
pd.unique(data[["message_type"]].values.ravel("K"))

array(['text', 'sticker', 'voice', 'audio', 'video file', 'photo',
       'animation', 'file', 'video message', 'contact'], dtype=object)

In [7]:
data["message_type"].value_counts()

text             11815
sticker           3416
animation          565
voice              480
audio              377
photo              345
video file         105
file                39
video message        8
contact              2
Name: message_type, dtype: int64

In [8]:
data.loc[data["message_type"] == "text"]["sender"].value_counts()

Roozbeh    3299
Amir       3121
Neda       2164
Barsin     1704
Pouya      1527
Name: sender, dtype: int64

In [9]:
data["is_forwarded"].value_counts()

0    16531
1      621
Name: is_forwarded, dtype: int64

In [10]:
len(data.loc[(data["message_type"] == "text") & (data["text"].notnull())].index)

11524

In [11]:
len(data.loc[(data["message_type"] != "text") & (data["text"].notnull())])

0

In [12]:
len(data.loc[(data["message_type"] == "text") & (data["caption"].notnull())].index)

0

In [13]:
len(data.loc[(data["message_type"] != "text") & (data["caption"].notnull())].index)

213

In [14]:
len(data.loc[(data["text"].notnull()) & (data["caption"].notnull())].index)

0

In [15]:
len(data.loc[(data["message_type"] != "sticker") & (data["sticker_emoji"].notnull())].index)

0

In [16]:
data["media_size"].sum()

4059805.256

In [17]:
data.loc[data["message_type"] == "audio"]["media_size"].sum()

3142174.5

In [18]:
data["media_duration"].sum()

113063

In [19]:
data[["message_id", "reply_to_id", "sender"]].head()

   message_id  reply_to_id   sender
0        2015         2014  Roozbeh
1        2016            0  Roozbeh
2        2017         2012  Roozbeh
3        2018            0  Roozbeh
4        2019            0     Neda

In [20]:
def text_len(row):
    if(type(row) == float):
        return 0
    else:
        return len(row)

In [21]:
data.insert(loc=9, column="text_length", value=data["text"].apply(lambda x: text_len(x)))

In [22]:
data.loc[data["message_type"] != "text"]["text_length"].value_counts()

0    5337
Name: text_length, dtype: int64

In [23]:
data.loc[(data["message_type"] == "text") & (data["text_length"] == 0)]

,message_id,reply_to_id,sender,reply_to_sender,message_type,message_date,is_forwarded,forwarded_from,text,text_length,caption,media_size,photo_resolution,media_duration,sticker_emoji
131,2146,0,Pouya,NaN,text,1556270480,1,Pouya,NaN,0,NaN,NaN,NaN,0,NaN
132,2147,0,Pouya,NaN,text,1556270480,1,Sinaaawei,NaN,0,NaN,NaN,NaN,0,NaN
133,2148,0,Pouya,NaN,text,1556270480,1,Pouya,NaN,0,NaN,NaN,NaN,0,NaN
170,2185,0,Pouya,NaN,text,1556281021,1,Sinaaawei,NaN,0,NaN,NaN,NaN,0,NaN
367,2382,0,Roozbeh,NaN,text,1556359800,1,ami,NaN,0,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16548,11485,0,Pouya,NaN,text,1564535120,1,AliReza,NaN,0,NaN,NaN,NaN,0,NaN
16802,11741,0,Roozbeh,NaN,text,1565274459,1,Amir,NaN,0,NaN,NaN,NaN,0,NaN
16854,11793,0,Amir,NaN,text,1565290071,1,Amir,NaN,0,NaN,NaN,NaN,0,NaN
16887,11826,0,Amir,NaN,text,1565294916,1,10fastfingers,NaN,0,NaN,NaN,NaN,0,NaN
17097,12043,0,Pouya,NaN,text,1566156912,1,Pouya,NaN,0,NaN,NaN,NaN,0,NaN