In [1]:
# Import necessary libraries
import pandas as pd

In [2]:
data = pd.read_csv("data/maos.csv")
data.head()

,message_id,reply_to_id,sender,reply_to_sender,message_type,message_date,is_forwarded,forwarded_from,text,text_length,caption,media_size,photo_resolution,media_duration,sticker_emoji
0,2015,2014,Roozbeh,Neda,text,1556223065,0,NaN,ŸÜŸá ÿ®ÿßÿ®ÿßÿßÿß,9,NaN,NaN,NaN,0,NaN
1,2016,0,Roozbeh,NaN,text,1556223073,0,NaN,ÿÆ€å€åŸÑ€å ÿÆŸàÿ®Ÿá,10,NaN,NaN,NaN,0,NaN
2,2017,2012,Roozbeh,Neda,text,1556223080,0,NaN,If it was easier to shatter everything that ev...,98,NaN,NaN,NaN,0,NaN
3,2018,0,Roozbeh,NaN,sticker,1556223106,0,NaN,NaN,0,NaN,29.9,NaN,0,ü§ò
4,2019,0,Neda,NaN,voice,1556223132,0,NaN,NaN,0,NaN,7.3,NaN,3,NaN

In [3]:
data[["sender", "message_type", "forwarded_from", "text", "caption", "photo_resolution", "sticker_emoji"]].describe()

,sender,message_type,forwarded_from,text,caption,photo_resolution,sticker_emoji
count,17152,17152,545,11814,408,345,3416
unique,5,11,138,9212,304,284,214
top,Amir,text,Amir,üòÇüòÇ,üéß ÿ¢ŸáŸÜ⁄Ø€åŸÅÿß€å: ÿ¨ÿ≥ÿ™ÿ¨Ÿà€å ŸÖŸàÿ≤€å⁄©,540x960,üòÇ
freq,5091,11814,81,427,55,7,530

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 15 columns):
message_id          17152 non-null int64
reply_to_id         17152 non-null int64
sender              17152 non-null object
reply_to_sender     7981 non-null object
message_type        17152 non-null object
message_date        17152 non-null int64
is_forwarded        17152 non-null int64
forwarded_from      545 non-null object
text                11814 non-null object
text_length         17152 non-null int64
caption             408 non-null object
media_size          5335 non-null float64
photo_resolution    345 non-null object
media_duration      17152 non-null int64
sticker_emoji       3416 non-null object
dtypes: float64(1), int64(6), object(8)
memory usage: 2.0+ MB

In [5]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)

In [6]:
pd.unique(data[["message_type"]].values.ravel("K"))

array(['text', 'sticker', 'voice', 'audio', 'video file', 'photo',
       'animation', 'file', 'video message', 'contact', 'poll'],
      dtype=object)

In [7]:
data["message_type"].value_counts()

text             11814
sticker           3416
animation          565
voice              480
audio              377
photo              345
video file         105
file                39
video message        8
contact              2
poll                 1
Name: message_type, dtype: int64

In [8]:
data.loc[data["message_type"] == "text"]["sender"].value_counts()

Roozbeh    3299
Amir       3120
Neda       2164
Barsin     1704
Pouya      1527
Name: sender, dtype: int64

In [9]:
data["is_forwarded"].value_counts()

0    16531
1      621
Name: is_forwarded, dtype: int64

In [10]:
len(data.loc[(data["message_type"] == "text") & (data["text"].notnull())].index)

11814

In [11]:
len(data.loc[(data["message_type"] != "text") & (data["text"].notnull())])

0

In [12]:
len(data.loc[(data["message_type"] == "text") & (data["caption"].notnull())].index)

0

In [13]:
len(data.loc[(data["message_type"] != "text") & (data["caption"].notnull())].index)

408

In [14]:
len(data.loc[(data["text"].notnull()) & (data["caption"].notnull())].index)

0

In [15]:
len(data.loc[(data["message_type"] != "sticker") & (data["sticker_emoji"].notnull())].index)

0

In [16]:
data["media_size"].sum()

4059805.256

In [17]:
data.loc[data["message_type"] == "audio"]["media_size"].sum()

3142174.5

In [18]:
data["media_duration"].sum()

113063

In [19]:
data.loc[data["message_type"] != "text"]["text_length"].value_counts()

0    5338
Name: text_length, dtype: int64

In [20]:
len(data.loc[(data["message_type"] == "text") & (data["text_length"] == 0)].index)

0

In [21]:
# If reply_to_id is 0, reply_to_sender must be NaN
len(data.loc[(data["reply_to_id"] == 0) & (data["reply_to_sender"].notnull())])

0

In [22]:
# if reply_to_id isn't 0, reply_to_sender mustn't be NaN (unless it was a reply on a service message, or the message was deleted)
data.loc[(data["reply_to_id"] != 0) & (data["reply_to_sender"].isnull())]

,message_id,reply_to_id,sender,reply_to_sender,message_type,message_date,is_forwarded,forwarded_from,text,text_length,caption,media_size,photo_resolution,media_duration,sticker_emoji
5764,16888,16887,Amir,NaN,text,1576342109,0,NaN,ÿØ ÿÆÿ® ÿßŸÑÿßŸÜ ÿß€åŸÜŸà ŸÖ€å‚ÄåÿÆŸàŸÜŸá ÿØ€å⁄ØŸá ÿ®ÿßÿ≤ÿ¥ ŸÜŸÖ€å‚Äå⁄©ŸÜŸá,40,NaN,NaN,NaN,0,NaN
6281,13383,13381,Neda,NaN,text,1567616650,0,NaN,ÿßÿ≠ŸÖÿØŸàŸÅÿ≥⁄©€åÿü üòÇüòÇ,13,NaN,NaN,NaN,0,NaN
10214,220,217,Roozbeh,NaN,text,1555863406,0,NaN,ü§¶üèª‚Äç‚ôÇÔ∏èü§¶üèª‚Äç‚ôÇÔ∏èüòÇüòÇüòÇ,13,NaN,NaN,NaN,0,NaN
10219,225,217,Amir,NaN,text,1555863432,0,NaN,and thus begins the damnation of this group,43,NaN,NaN,NaN,0,NaN
10651,660,658,Amir,NaN,text,1555922747,0,NaN,I hate these üòÇüòë,15,NaN,NaN,NaN,0,NaN

In [23]:
data.groupby(["sender"])["text_length"].mean()

sender
Amir       21.835199
Barsin     15.170061
Neda       11.685135
Pouya      18.338469
Roozbeh    11.286207
Name: text_length, dtype: float64