In [27]:
# Import necessary libraries
import pandas as pd

In [28]:
data = pd.read_csv("data/maos.csv")
data.head()

    message_id   sender
0  message2015  Roozbeh
1  message2016  Roozbeh
2  message2017  Roozbeh
3  message2018  Roozbeh
4  message2019     Neda

In [29]:
data.describe()

         message_id sender
count         17152  17152
unique        17152      5
top     message7509   Amir
freq              1   5091

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 2 columns):
message_id    17152 non-null object
sender        17152 non-null object
dtypes: object(2)
memory usage: 268.1+ KB

In [31]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)