In [2]:
# Import necessary libraries
import pandas as pd

In [3]:
data = pd.read_csv("data/maos.csv")
data.head()

,message_id,reply_to_id,sender,message_type,message_date,is_forwarded,forwarded_from
0,2015,2014,Roozbeh,text,1556223065,0,NaN
1,2016,0,Roozbeh,text,1556223073,0,NaN
2,2017,2012,Roozbeh,text,1556223080,0,NaN
3,2018,0,Roozbeh,sticker,1556223106,0,NaN
4,2019,0,Neda,voice,1556223132,0,NaN

In [19]:
data[["sender", "message_type", "forwarded_from"]].describe()

       sender message_type forwarded_from
count   17152        17152            545
unique      5           10            138
top      Amir         text           Amir
freq     5091        11815             81

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17152 entries, 0 to 17151
Data columns (total 7 columns):
message_id        17152 non-null int64
reply_to_id       17152 non-null int64
sender            17152 non-null object
message_type      17152 non-null object
message_date      17152 non-null int64
is_forwarded      17152 non-null int64
forwarded_from    545 non-null object
dtypes: int64(4), object(3)
memory usage: 938.1+ KB

In [5]:
data["message_date"].value_counts()

1577179208    22
1574293002    21
1577116618    20
1574455563    14
1573648843    13
              ..
1565158647     1
1556833526     1
1566508760     1
1556370672     1
1566200413     1
Name: message_date, Length: 16442, dtype: int64

In [24]:
pd.unique(data[["sender"]].values.ravel('K'))

array(['Roozbeh', 'Neda', 'Amir', 'Pouya', 'Barsin'], dtype=object)

In [25]:
pd.unique(data[["message_type"]].values.ravel("K"))

array(['text', 'sticker', 'voice', 'audio', 'video file', 'photo',
       'animation', 'file', 'video message', 'contact'], dtype=object)

In [26]:
data["message_type"].value_counts()

text             11815
sticker           3416
animation          565
voice              480
audio              377
photo              345
video file         105
file                39
video message        8
contact              2
Name: message_type, dtype: int64

In [27]:
data.loc[data["message_type"] == "text"]["sender"].value_counts()

Roozbeh    3299
Amir       3121
Neda       2164
Barsin     1704
Pouya      1527
Name: sender, dtype: int64

In [14]:
data["is_forwarded"].value_counts()

0    16531
1      621
Name: is_forwarded, dtype: int64

In [21]:
data["forwarded_from"].value_counts()

Amir                     81
Roozbeh                  43
[XD] Productions         27
Politically Incorrect    21
Elahe                    20
                         ..
Alireza Momeni            1
Mohammad.s .dj            1
payam naghdy              1
fariba ty                 1
Mohammad Bokharaee        1
Name: forwarded_from, Length: 138, dtype: int64